<div class="page-wrapper chiller-theme toggled" [ngClass]="{'page-wrapper': true, 'chiller-theme': true, 'toggled': isNavVisible }" >
    <app-nav (toggleSideNav)="toggleSideNavfn($event)"></app-nav>
    <app-top-nav></app-top-nav>
    <!-- page-content" -->
    <main class="page-content">
        <div class="container-fluid">
            <app-breadcrumb-nav [navData]="breadCrumb"></app-breadcrumb-nav>
            <ng-content></ng-content>
        </div>
    </main>
    <!-- End page-content" -->
</div>
<!-- page-wrapper -->